<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>add contact</title>
</head>
<body>
	<section>
	<div class="card mr-3 ml-2">
		<div class="card-body">
			<h1 class="text-center">Change Password</h1>
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<form action="#" th:object="${contact}"
							enctype="multipart/form-data"
							 class="mt-2"  method="post" th:action="@{/user/change-password-form}" id="change_password">
							
							<div class="input-group">
							
							<input type="password" name="old_password" id="old_password"  placeholder="Enter old password" class="form-control">
							</div>
							<div  id="old_password_error"></div>
							
							<div class="input-group mt-3">
							
							<input type="password" name="new_password"  id="new_password" placeholder="Enter secondName here" class="form-control">
							</div>
							<div  id="new_password_error"></div>
							<div class="container text-center mt-3">
							<button type="submit" class="btn btn-primary" id="submitt">Submit</button>
							<button type="reset" class="btn btn-warning" id="reset">Reset</button>
							</div>
							
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
     <script>
$(document).ready(function(){
$(".item").removeClass("active");
$("#setting-link").addClass("active");
});
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<style>
    .error{
        color:red;
    }
</style>
 <script>
     $("#change_password").validate({
         ignore: [],
         debug: !1,
         rules: {
             old_password: {
                 required: true
             },
             new_password: {
                 required: true
             },
            
         },
         messages: {
        	 old_password: {
                 required: "* Please enter old password."
             },
             new_password: {
                 required: "* Please enter new password."
             },
         },
         errorPlacement: function(error, element) {
             if (element.prop('name') === 'old_password') {
                 error.appendTo('#old_password_error');
             }

              if (element.prop('name') === 'new_password') {
                 error.appendTo('#new_password_error');
             }
         },
         submitHandler: function(e) {
             
            //  	if (grecaptcha.getResponse()) {
            // 	      $('#captchMsg').hide();
				      $("#submitt").attr("disabled", !0), e.submit()
				    // } else {
				    // 	$('#captchMsg').text('* Please select captcha.');
				       
				    // }
            
         }
     });
 </script>
	</section>
</body>
</html>