<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>se</title>
</head>
<body>
<section>
<div class="container">
<div class="card-body">
<div class="container text-center">
<img src="" style="width:200px;height:200px;" th:src="@{'/image/call.png'}" class="my_profile" alt="Profile photo" />
<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Start adding your contact on cloud</h1>
<a th:href="@{/user/add-contact}"><button class="btn btn-primary btn-block text-white">Add New Contact</button></a>
<hr/>
<h3 class="my-3">Donate Us</h3>
<input type="text" name="amount" id="amount" class="form-control" placeholder="Enter amount here" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
<div class="container text-center">
<button onclick="paymentstart()" class="btn btn-success btn-block mt-3" >Pay</button>
</div>
</div>
</div>
</div>

<script>
$(document).ready(function(){
$(".item").removeClass("active");
$("#home-link").addClass("active");
});
</script>
</section>

</body>
</html>