<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center" >
<div class="text-center"><h1 class="font-weight-bold">Smarter Contact Manager</h1>
<p>start collectiong your contact in very smarter way we provide very effecient and smarter way of handling contacts</p>
<button class="btn bg-primary btn-lg text-white">Get Started</button>
</div>

</section>

</body>
</html>